.content-button{
    color: white;
    background-color: rgb(255, 128, 0);
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
}

.content-button:hover{
    background-color: rgb(250, 174, 98);
}

.content-button:active{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 85, 0);
}