@import "../../../styles/shared.scss";
$white: #f16666;
.content-button{
    color: white;
    background-color: $secondary-color;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
}

.content-button:hover{
    background-color: lighten($secondary-color, 10%);
}

.content-button:active{
    color: rgb(255, 255, 255);
    background-color: darken($secondary-color, 10%);
}