/*****************/
/* SHARED STYLES */
/*****************/

$facade-section: rgb(0, 73, 182);

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section{
    padding: 10px;
}

.article-center{
  text-align: center;
}

.facade-section{
  color: white;
  background-color: $facade-section;
}