.grid-item{
    border-radius: 1px;
    width: 240px;
    height: 140px;
    background-color: rgb(218, 224, 239);
    padding: 20px;
    text-align: center;
     background-size: cover;
    background-image: url("../../../../public/images/default-destination.png");
}

@media (max-width: 1000px) {
  .grid-container {
    align-items: center;
    padding: 10px;
    grid-template-columns: repeat(2, 240px) !important;
  }
  .grid-item{
    margin-top: 20px;
   
    width: 160px;
    height: 160px;
  }
}